body {
    background-color: white !important;
}

.ui.inverted.top.fixed.menu 
{
    background-image: linear-gradient(135deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 69%, rgb(0, 0, 0) 89%) !important;
}

.black-toggle .ui.toggle.checkbox .box:before, 
.black-toggle .ui.toggle.checkbox label:before {
    background-color: black !important;
}